<!doctype html>
{% load static %}
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
  <title>Write Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ForkSpoon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <a class="nav-link" href="/write">Main service</a>
        <a class="nav-link" href="/trend">Trend News</a>
        <a class="nav-link active" href="/member">Members <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="w3-panel w3-padding-48 w3-highway-blue">
    <h1 class="w3-text-indigo" style="text-shadow:2px 2px 0 #444">
    <b>Main service page</b></h1>
  </div>


  <!--인풋받을 이메일-->

    <form method="post"> {% csrf_token %}
      <div class="w3-panel w3-padding-16 w3-blue">
        <h2 class="w3-text-blue" style="text-shadow:2px 2px 0 #444">Please enter the address</h2>
        <h4 class="w3-text-blue" style="text-shadow:2px 2px 0 #444">Example) abcd@forkspoon.com</h4>


        <div class="form-group">
          <label for="exampleFormControlInput1">...</label>
          <input name="emailtab" type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>
      </div>

    <!--인풋받을 내용-->
      <div class="w3-panel w3-padding-16 w3-indigo">
        <h2 class="w3-text-indigo" style="text-shadow:2px 2px 0 #444">Please write your motivation</h2>
          <h4 class="w3-text-blue" style="text-shadow:2px 2px 0 #444">Korean (under 1000words)</h4>

        <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea name="contents" class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
        </div>
      </div>
      <button type="submit" class="w3-button w3-jumbo w3-red" style="width:100%">SUBMIT</button>

    </form>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
</body>

</html>